/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2014, 1:41:14 PM
    Author     : Tara
*/

#toplevel_page_aweslides .wp-menu-image:before, #toplevel_page_awesliders  .wp-menu-image:before{
    font-family: FontAwesome;
    content: "\f044";
}

.slide_container {
    width: 1000px;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clr {
    clear: both;
}
.aw_devices {
    margin: 0px;
    padding: 0px;
    list-style-type:none;
}
.aw_devices li {
    padding: 10px;
    //border: 1px solid #939393;
    border-left: 1px solid #c5c5c5;
    border-bottom: 1px solid #dfdfdf;
    width: 40px;
    background-color: #dfdfdf;
    margin: 0px;
    float: left;
    text-align: center;
}
.aw_devices li:first-child {
    border-top-left-radius: 10px;
}
.aw_devices li:last-child {
    border-top-right-radius: 10px;
}
.aw_devices li.active {
    border-bottom: 0px outset #dfdfdf;
    background-color: #ffffff;
}
.aw_devices li a {
    display: block;
    outline: none;
}
.aw_devices li.active i {
    color: #999999;
}
.aw_devices li i {
    color: #3e3e3e;
}
.aw_devices li i:hover {
    color: #2ea2cc;
}
#aw_playground {
    width: 950px;
    border: 1px solid #a5a5a5;
    padding: 0px;
    height: 300px;
    background-image: url('../images/trans_bg.jpg');
}

#aw_playground .desktop {
    height: 300px;
    box-shadow: 0px 0px 2px 2px #888888;
}

#aw_playground .tablet {
    height: 300px;
    width: 770px;
    margin: 0px auto;
    box-shadow: 0px 0px 2px 2px #888888;
}

#aw_playground .mobile {
    height: 300px;
    width: 400px;
    margin: 0px auto;
    box-shadow: 0px 0px 2px 2px #888888;
}

.aw_slide_menus {
    margin: 5px;
    width: 950px;
}

.aw_tabs {
    width: 950px;
}

.marleft {
    margin-left: 20px !important;
}

.marleftlong {
    margin-left: 100px !important;
}

.aw_element_prop {
    background-color: #fafafa;
    width: 910px;
    border: 2px solid #e9e9e9;
    padding: 20px;
    padding-top: 0px;
}

.aw_eleprop {
    margin: 0px;
}

.aw_hidden {
    display: none !important;
}

.aw_row {
    margin: 10px;
}

.aw_row > div {
    float: left;
}

.aw_col1 {
    width: 200px;
    font-weight: bold;
}

.aw_col2 {
    width: 150px;
}
.aw_col3 {
    padding: 5px;
}

.ip_small {
    width: 100px;
}

.aw_col2 .wp-picker-container, .aw_col3 .wp-picker-container {
    position: absolute;
    z-index: 9;
}

.colpicker99 .wp-picker-container {
    z-index: 99;
}

.colpicker100 .wp-picker-container {
    z-index: 100;
}

.aw_timeline {
    width: 930px;
    padding: 10px;
}

.aw_bgpos_setting {
    float: left;
    width: 125px;
}

.layer_timing_text {
    margin-left: 261px;
    min-width: 600px;
}

.layer_headings {
    line-height: 100%;
    height: 14px;
}

.layer_timing_text span {
    font-size: 8px;
    display: block;
    float: left;
    width: 45px;
}

.aw_layer_actions {
    width: 250px;
    background-color: #c6c6c6;
    padding: 5px;
    position: absolute;
    z-index: 5;
}

.aw_layer_actions span {
    background-color: #f2f2f2;
    padding: 5px;
    display: block;
    width: 155px;
    cursor: move;
}

.aw_layer_timings {
    width: 2630px;
    border: 1px solid #c8c8c8;
    border-right-width: 0px;
    height: 39px;
    left: 261px;
    background-color: #f7f7f7;
    position: absolute;
    background-image: url(../images/bgscale.png);
    background-repeat: repeat-x;
    background-position: 0px 6px;
}

.aw_layer_timing {
    min-width: 10px;
    min-height: 20px;
    background-color: #e8e8e8;
    background-image: url(../images/draggerbg.png);
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: grab;
}

.aw_layer_actions i {
    padding: 5px;
    margin: 4px;
    margin-left: 0px;
    margin-top: 2px;
    border: 1px solid #f8f8f8;
    cursor: pointer;
    float: left;
}

.aw_layer_actions i.active, .aw_layer_actions i:hover {
    background-color: #444444;
    color: #C6C6C6;
}

.aw_layers_ul {
    margin: 0px;
}

.aw_layers_ul li {
    height: 41px;
}

.aw_layers_ul li.selected .aw_layer_actions, .aw_layers_ul li.selected .aw_layer_timings {
    outline: 2px dotted #c6c6c6;
}

.aw_element.ui-state-disabled {
    opacity: 0.7 !important;
}

#aw_layers {
    background-color: #ffffff;
    border: 1px solid #aaaaaa;
    min-height: 100px;
    overflow: scroll;
}

#aw_css_editor_div, #aw_import_div {
    background-color: #ffffff;
    border: 0px solid #c6c6c6;
    box-shadow: 0px 0px 2px 2px #888888;
    width: 700px;
    height: 476px;
    left: 200px;
    top: 100px;
    position: fixed;
    z-index: 999;
}

#aw_css_editor_area {
    width: 100%;
    height: 400px;
}

.aw_css_editor_header {
    padding: 10px;
    background-color: #222222;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    cursor: move;
}

.aw_css_editor_footer {
    background-color: #d9d9d9;
    padding: 5px;
}

.aw_css_editor_header i {
    font-size: 22px;
    color: #ffffff;
}
.aw_css_editor_header i:hover {
    color: #999999;
}

#aw_device {
    overflow: hidden;
    position: relative;
}

.aw_element {
    display: inline-block;
    white-space:nowrap;
    line-height: 100%;
    position: absolute;
    cursor: move;
}

.aw_element span{
    line-height: 100%;
}

.aw_element.selected {
    outline: 2px dotted #484848;
}

.aw_element.aw_video {
    background: #eeeeee url('../images/aw_video_bg.jpg') no-repeat 50% 50%;
    border: 2px solid #dadada;
}

.aw_element.aw_text span {
    font-size: 43px;
    font-weight: bold;
}

.button.disabled, .button.disabled:hover, .button.disabled:focus {
    color: #d9d9d9;
    box-shadow: none;
    outline: none;
    border-color: #d9d9d9;
    background: none repeat scroll 0 0 #F7F7F7;
}

.button i, .button-primary i {
    margin-right: 5px;
}

.aw_element.aw_image img {
    width: 100%;
    display: inline-block;
}

#aw_animation_prop {
    left: 480px;
    position: absolute;
    width: 468px;
}

#aw_image_prop, #aw_text_prop, #aw_video_prop {
    width: 460px;
}

#slides_holder {
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    width: 500px;
    min-height: 50px;
}
.slider_slide {
    height: 50px;
    margin: 5px;
    border: 1px solid #999999;
    cursor: move;
    background-color: #d7d7d7;
}

.slider_slide h2{
    color: #333333;
}

.aw_remove_slide {
    height: 50px;
    width: 50px;
    background-color: #D54E21;
    cursor: pointer;
    margin-left: 5px;
}

.aw_edit_slide {
    height: 45px;
    width: 50px;
    background-color: #50a900;
    cursor: pointer;
    padding-top: 5px;
}

.aw_remove_slide i, .aw_edit_slide i {
    color: #ffffff;
}
.aw_remove_slide i:hover, .aw_edit_slide i:hover {
    color: #F7F7F7;
}

.aw_tab_container>div {
    display: none;
}
.aw_tab_container>div.active {
    border: 1px solid #999999;
    border-bottom-width: 0px;
    border-left-width: 0px;
    display: block;
    padding: 15px;
}

.aw_tabs_wrap {
    background-color: #ffffff;
    border: 1px solid #999999;
    border-top-width: 0px;
    border-right-width: 0px;
}

.aw_slider_tabs>div {
    width: 200px;
    float: left;
    text-align: center;
    background-color: #f0f0f0;
    border: 1px solid #999999;
    border-left-width: 0px;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.aw_slider_tabs>div.active {
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.aw_slider_tabs {
    background-color: #f1f1f1;
    height: 39px;
}

.aw_sep {
    border-top: 1px dotted #c6c6c6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aw_func {
    background-color: #ffffff;
    border: 1px dotted #169e00;
    padding: 2px;
}

#aw_image_prop {
    margin-bottom: 100px;
}

#aw_video_prop {
    margin-bottom: 70px;
}

#aw_preview_div {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top:0px;
    z-index: 99999;
    background-color: #ffffff;
    text-align: center;
}

.greenbg {
    background-color: #39a717 !important;
    color: #ffffff !important;
}