.aw_bgcontainer {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    perspective: 1000px;
    -o-perspective: 1000px;
    -moz-perspective: 1000px;
    -webkit-perspective: 1000px;
    -ms-perspective: 1000px;
    
    transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
}

.aw_container {
    -moz-perspective: 1000px;
z-index:1;
}

.awesomebg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #F7F7F7;
}

.awelements {
    position: relative;
    -moz-perspective: 1000px;
    z-index: 1;
}

.awelement {
    position: absolute;
    display: block;
    opacity: 1;
    word-break: none;
    white-space:nowrap;
    text-align: center;
}

.awelement img {
    width: 100%;
}

.awelement span {
    line-height: 100%;
}

.aw_container {
    position: relative;
}

.aw_clone {
    position: absolute;
    overflow: hidden;
}

.awesomeslider {
    position: relative;
    width: 100%;
    line-height: 100%;
    height: 300px;
    background-color: #f7f7f7;
}

.atb {
    border: 1px solid #000000;
}

.awloader {
    height: 50px;
    width: 50px;
    background-image: url('../images/awloader.gif');
    margin: 0px auto;
    margin-top: 135px;
}

.awnav {
    position: absolute;
    z-index: 99;
}

.awhovernav {
    transition: all 300ms ease-in-out 0s;
}
.awesomeslider .awhovernav {
    opacity: 0;
}

.awesomeslider:hover .awhovernav {
    opacity: 1;
}

.awnav.awpaging {
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.awnav.awpaging .awdots {
    min-height: 5px;
    padding: 8px;
    min-width: 5px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    background: url(../images/aw_sprite.png) no-repeat;
    opacity: 0.5;
}

.awnav.awpaging .awdots:hover, .awnav.awpaging .awdots.selected {
    opacity: 1;
}

.awpaging.dot .awdots {
    background-position: -125px -6px;
}

.awpaging.square .awdots {
    background-position: -125px -30px;
}

.awnav.awprogressbar {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 6px;
}

.awnav.awprogressbar .awprogress {
    background-color: #000000;
    opacity: 0.1;
    width: 30%;
    height: 100%;
}

.awcacheimages {
    opacity: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.aw_hidden {
    display: none;
}

.awlinked {
    cursor: pointer;
}

.awleftarrow span, .awrightarrow span {
    display: none;
}

.awnav.awleftarrow {
    left: 0px;
    top: 50%;
}

.awnav.awrightarrow {
    right: 0px;
    top: 50%;
}

.awnav.awleftarrow, .awnav.awrightarrow {
    background: url(../images/aw_sprite.png) no-repeat;
    width: 47px;
    height: 45px;
    margin-top: -22.5px;
    //opacity: 0.7;
    transition: all 400ms ease 0s;
    cursor: pointer;
}

.awnav.awleftarrow:hover, .awnav.awrightarrow:hover {
    opacity: 0.9;
}

.awleftarrow.style1 {
    background-position: 0px 0px;
}

.awrightarrow.style1 {
    background-position: -57px 0px;
}

.awleftarrow.style2 {
    background-position: 0px -60px;
}

.awrightarrow.style2 {
    background-position: -57px -60px;
}

.awleftarrow.style3 {
    background-position: 0px -118px;
}

.awrightarrow.style3 {
    background-position: -57px -118px;
}

.awleftarrow.style4 {
    background-position: 0px -174px;
}

.awrightarrow.style4 {
    background-position: -57px -174px;
}

.awleftarrow.style5 {
    background-position: 0px -232px;
}

.awrightarrow.style5 {
    background-position: -57px -232px;
}

.awleftarrow.style6 {
    background-position: 0px -289px;
}

.awrightarrow.style6 {
    background-position: -57px -289px;
}

.awleftarrow.style7 {
    background-position: 0px -346px;
}

.awrightarrow.style7 {
    background-position: -57px -346px;
}