@import url(http://fonts.googleapis.com/css?family=Francois+One|PT+Sans|Open+Sans+Condensed:300);

.font1 {
    font-family: "Francois One";
}

.def_font {
    font-family: "PT Sans";
}

.def_font1 {
    font-family: "Open Sans Condensed";
}